<template>
    <div class="posts">
        <scale-loader v-if="loading"></scale-loader>
        <h2 class="title" v-if="!loading">
            Posty z tagiem:
            <strong>{{ tag }}</strong>
        </h2>
        <template v-for="post in posts">
            <Post :post="post" :key="post.id" />
        </template>
    </div>
</template>

<script>
import { getPosts } from '@/services/posts';
import { getTags } from '@/services/tags';

import ScaleLoader from 'vue-spinner/src/ScaleLoader.vue'
import Post from '@/components/index/Post';

export default {
    name: 'posts-list',
    props: {
        tags: {
            type: String,
            required: false
        }
    },
    data() {
        return {
            posts: {},
            tag: '',
            loading: true
        }
    },
    components: {
        ScaleLoader,
        Post
    },
    created() {
        this.getPosts();
        this.getTag();
    },
    methods: {
        getTag() {
            getTags(this.tags).then((response) => {

                this.tag = response.name
            })
        },
        async getPosts() {
            const postsData = await getPosts({ tags: this.tags });
            this.posts = postsData;
            this.loading = false;
        }
    },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.posts {
    .title {
        font-size: 40px;
        margin-bottom: 20px;
        font-weight: normal;
        strong {
            font-weight: bold;
        }
    }
}
</style>
