<template>
  <div class="post">
    <scale-loader v-if="loading"></scale-loader>
    <template v-if="!loading">
      <page-title :title="page.title" />
      <page-content :content="page.content" />
    </template>
  </div>
</template>

<script>
import { getPage } from '@/services/pages';
import ScaleLoader from 'vue-spinner/src/ScaleLoader.vue'

import PageTitle from '@/components/common/Title';
import PageImage from '@/components/common/Image';
import PageContent from '@/components/common/Content';

export default {
  name: 'page-wrapper',
  props: ['id', 'slug'],
  data() {
    return {
      page: {},
      loading: true
    }
  },
  components: {
    ScaleLoader,
    PageContent,
    PageImage,
    PageTitle
  },
  mounted() {
    this.getPage();
  },
  methods: {
    async getPage() {
      this.loading = true;
      const pageData = await getPage(this.id);
      this.loading = false;
      this.page = pageData;
    }
  },
  watch: {
    // call again the method if the route changes
    '$route': 'getPage'
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.post {
  width: 100%;
  max-width: 740px;
  margin: 0 auto;
}
</style>
