<template>
    <div class="content" v-html="content.rendered" />
</template>

<script>
export default {
    name: 'post-content',
    props: {
        content: {
            type: Object
        }
    }
}
</script>

<style lang="scss">
@import '../../plugins/prism/prism.css';
.content {
    text-align: left;

    padding: 0 0 20px;
    p {
        margin-bottom: 20px;
    }
    h2 {
        padding: 10px 0 20px;
    }
    em {
        font-style: italic;
    }
    pre {
        background: #eee;
        padding: 10px;
        border-radius: 3px;
        font: normal 14px/1.5 monospace;
    }
}
</style> 