<template>
    <div class="image">
        <div class="image-placeholder" v-if="!imageUrl">
            <scale-loader></scale-loader>
        </div>
        <img :src="imageUrl" v-if="imageUrl">
    </div>
</template>

<script>
import ScaleLoader from 'vue-spinner/src/ScaleLoader.vue'
import { getMedia } from '@/services/media';

export default {
    name: 'post-image',
    props: {
        image: {
            type: Number
        }
    },
    data() {
        return {
            imageUrl: ''
        }
    },
    components: {
        ScaleLoader
    },
    created() {
        this.getImage()
    },
    methods: {
        getImage() {
            getMedia(this.image).then((response) => {
                this.imageUrl = response.source_url;
            })
        }
    }
}
</script>

<style lang="scss">
.image {
    max-width: 100%;
    margin-bottom: 25px;
    .image-placeholder {
        background-color: #eee;
        display: flex;
        height: 180px;
        width: 100%;
        align-items: center;
        justify-content: center;
        .v-spinner {
            opacity: .3;
        }
    }
}
</style>