<template>
    <div class="menu-item">
        <a :href="menu.url">{{ menu.title }}</a>
    </div>
</template>
<script>

export default {
    name: 'menu-item',
    props: ['menu']
}
</script>
<style lang="scss" scoped>
.menu-item {
    width: 100%;
    font: 600 24px/2 'Nunito';
    margin: 20px auto;
    max-width: 700px;
    padding: 0 15px;
    transition: background .4s;
    border-radius: 3px;
    a {
        display: block;
        border-bottom: 0;
        color: #42b983;
    }
    &:hover {
        background: #eee;
    }
}
</style>
