<template>
    <ul class="tags">
        <li v-for="tag in tagsData" :key="tag" class="item">
            <router-link :to="`/posts?tags=${tag.id}`">
                {{ tag.name }}
            </router-link>
        </li>
    </ul>
</template>

<script>
import { getTags } from '@/services/tags';

export default {
    name: 'post-tags',
    props: {
        tags: {
            type: Array
        }
    },
    data() {
        return {
            tagsData: []
        }
    },
    created() {
        this.getTags()
    },
    methods: {
        getTags() {
            for (let i in this.tags) {
                getTags(this.tags[i]).then((response) => {
                    this.tagsData.push({
                        name: response.name,
                        id: this.tags[i]
                    });
                })
            }

        }
    }
}
</script>

<style lang="scss" scoped>
.tags {
    text-align: left;
    margin: 15px 0;
    .item {
        display: inline-block;
        background: #eee;
        padding: 5px;
        border-radius: 2px;
        margin: 0 5px;
        font: normal 12px/1 'Nunito';
        transition: .3s;
        cursor: pointer;
        &:hover {
            background: #42b983;
            color: #fff;
        }
        a {
            border: 0;
            color: #000;
            &:hover {
                color: #fff;
            }
        }
    }
}
</style> 