<template>
    <h1 class="title">
        {{ title.rendered }}
    </h1>
</template>

<script>
export default {
    name: 'post-title',
    props: {
        title: {
            type: Object
        }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.title {
    margin-bottom: 25px;
}
</style>
