<template>
    <div class="comment">
        <scale-loader v-if="loading"></scale-loader>
        <div class="success" v-if="success">
            You comment was added.
        </div>
        <form action="" @submit="addComment($event)" v-if="!loading">
            <h3 class="comment_title">
                Write comment
            </h3>
            <div class="group" :class="{ 'error': $v.author.$error }">
                <label class="label">Name</label>
                <input class="input" v-model.trim="author" @input="$v.author.$touch()">
                <span class="message" v-if="!$v.author.required">Field is required</span>
                <span class="message" v-if="!$v.author.minLength">Name must have at least {{$v.author.$params.minLength.min}} letters.</span>
            </div>
            <div class="group" :class="{ 'error': $v.author_email.$error }">
                <label for="" class="label">
                    E-mail
                </label>
                <input class="input" v-model.trim="author_email" @input="$v.author_email.$touch()">
                <span class="message" v-if="!$v.author_email.required">Field is required</span>
                <span class="message" v-if="!$v.author_email.email">podaj adres email</span>
            </div>
            <div class="group txt" :class="{ 'error': $v.content.$error }">
                <label for="" class="label">
                    Content
                </label>
                <textarea class="textarea" v-model.trim="content" @input="$v.content.$touch()" />
                <span class="message" v-if="!$v.content.required">Field is required</span>
            </div>
            <div class="group btn">
                <input type="submit" class="button" value="Add comment">
            </div>
        </form>
    </div>
</template>

<script>
import ScaleLoader from 'vue-spinner/src/ScaleLoader.vue'
import { required, minLength, email } from 'vuelidate/lib/validators'
import { addComment } from '@/services/comments';

export default {
    name: 'post-add-comment',
    props: {
        post: {
            required: true,
            type: Number
        },
        parent: {
            required: false,
            type: Number,
            default: 0
        }
    },
    data() {
        return {
            loading: false,
            author: '',
            author_email: '',
            content: '',
            date: '',
            success: false
        }
    },
    validations: {
        author: {
            required,
            minLength: minLength(4)
        },
        author_email: {
            required,
            email
        },
        content: {
            required
        }
    },
    components: {
        ScaleLoader
    },
    created() {

    },
    methods: {
        addComment(e) {
            e.preventDefault();
            const now = new Date;
            this.$v.$touch();
            if (!this.$v.$invalid) {
                this.loading = true;
                addComment({
                    author_email: this.author_email,
                    author_name: this.author,
                    content: this.content,
                    date: now.toISOString(),
                    post: this.post,
                    parent: this.parent
                }).then((response) => {
                    if (response.id) {
                        this.loading = false;
                        this.success = true;
                        this.author = '';
                        this.author_email = '';
                        this.content = '';
                        this.date = '';
                        setTimeout(() => {
                            this.success = false;
                        }, 3000);
                    }
                });
            }
        }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.comment {
    width: 100%;
    max-width: 740px;
    margin: 0 auto;
    text-align: left;
    .comment_title {
        font-size: 14px;
        font-weight: bold;
        margin: 0 0 10px;
    }
    .group {
        max-width: 300px;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 20px;
        &.btn {
            text-align: left;
            justify-content: center;
        }
        &.error {
            .message {
                display: block;
            }
            .input {
                border-color: #f57f6c;
            }
        }
    }
    .success {
        background: #42b983;
        color: #fff;
        padding: 10px;
        border-radius: 3px;
    }
    .message {
        width: 100%;
        padding: 5px 0 0;
        text-align: left;
        color: #f57f6c;
        display: none;
    }
    .label {
        display: block;
        margin-right: 15px;
    }
    .input {
        display: block;
        border: 1px solid #eee;
        border-radius: 3px;
        font-size: 13px;
        line-height: 30px;
        padding: 0 10px;
        width: 100%;
    }
    .textarea {
        display: block;
        border: 1px solid #eee;
        border-radius: 3px;
        font-size: 13px;
        line-height: 30px;
        padding: 0 10px;
        width: 100%;
        min-height: 150px;
    }
    .button {
        background: #42b983;
        border: 0;
        display: inline-block;
        color: #fff;
        padding: 5px 10px;
        border-radius: 3px;
        font-size: 14px;
        transition: .5s;
        cursor: pointer;
        &:hover {
            opacity: 0.8;
        }
    }
}
</style>
