<template>
    <div class="comment">
        <div class="author">
            <div class="avatar">
                <img :src="comment.author_avatar_urls[24]" :alt="comment.author_name">
            </div>
            <div class="name">
                {{ comment.author_name }}, {{ comment.date }}                
            </div>
        </div>
        <div class="comment_content" v-html="comment.content.rendered" />
        <div class="meta">
            <a href="#" @click.prevent="reply = reply ? false : true">{{ reply ? 'Hide form' : 'Reply' }}</a>
        </div>
        <add-comment :post="post" :parent="comment.id" v-if="reply" />
        <post-comment 
            v-for="nestedComment in comments" 
            v-if="comment.id == nestedComment.parent"
            :key="nestedComment.id"
            :comment="nestedComment"
            :comments="comments"
            :post="post"
            :parent="comment.id" />
    </div>
</template>

<script>
import AddComment from './AddComment';

export default {
    name: 'post-comment',
    props: ['comment', 'comments', 'parent', 'post'],
    data () {
        return {
            reply: false
        }
    },
    components: {
        AddComment        
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    .comment {
        text-align: left;
        border-bottom: 1px solid #eee;
        padding: 20px 0;
        .author {
            display: flex;
            align-items: center;
            margin-bottom: 15px;
        }
        .avatar {
            margin: 0 15px 0 0;
        }
        .meta {
            margin-top: 5px;
        }
        .comment {
            margin: 0 0 0 20px;
            border: 0;
            padding-bottom: 0;
        }
    }
</style>
