<template>
    <div class="comments">
        <scale-loader :loading="loading"></scale-loader>
        <comment 
            v-for="comment in comments" 
            v-if="!loading && comment.parent == 0" 
            :key="comment.id"
            :comment="comment"
            :comments="comments"
            :post="post"
            :parent="0" />
    </div>
</template>

<script>
import { getComments } from '@/services/comments';

/**
 * components
 */
import ScaleLoader from 'vue-spinner/src/ScaleLoader.vue'
import Comment from './Comment';

export default {
    name: 'post-comments-list',
    props: ['post'],
    data() {
        return {
            comments: [],
            loading: true,
        }
    },
    components: {
        ScaleLoader,
        Comment
    },
    mounted() {
        this.getComments();
    },
    methods: {
        getComments() {
            getComments(this.post).then((response) => {
                this.comments = response;
                this.loading = false;
            })
        }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
