<template>
    <div>
        <comment 
            v-for="nestedComment in comments" 
            v-if="comment.id == nestedComment.parent"
            :key="nestedComment.id"
            :comment="nestedComment"
            :comments-list="comments"
            :post="post"
            :parent="comment.id" />
    </div>
</template>

<script>
import Comment from './Comment';

export default {
    name: 'post-nested-component',
    props: ['comment', 'comments', 'parent', 'post'],
    components: {
        Comment
    }
}
</script>