<template>
  <div class="post">
    <scale-loader v-if="loading"></scale-loader>
    <template v-if="!loading">
      <post-title :title="post.title" />
      <post-image :image="post.featured_media" v-if="post.featured_media" />
      <post-content :content="post.content" />
      <comments :post="post.id" />
      <tags :tags="post.tags" />
      <div class="addcomment">
        <add-comment :post="post.id" />
      </div>
    </template>
  </div>
</template>

<script>
import { getPost } from '@/services/posts';
import ScaleLoader from 'vue-spinner/src/ScaleLoader.vue'

import PostTitle from '@/components/common/Title';
import PostImage from '@/components/common/Image';
import PostContent from '@/components/common/Content';
import AddComment from './AddComment';
import Comments from './Comments';
import Tags from '@/components/common/Tags';

export default {
  name: 'post-wrapper',
  data() {
    return {
      post: {},
      loading: true
    }
  },
  components: {
    PostTitle,
    PostImage,
    PostContent,
    AddComment,
    Comments,
    ScaleLoader,
    Tags
  },
  created() {
    this.getPost();
  },
  methods: {
    async getPost() {
      const postData = await getPost(this.$route.params.id);
      this.post = postData;
      this.loading = false;
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.post {
  width: 100%;
  max-width: 740px;
  margin: 0 auto;
  .addcomment {
    padding: 30px 0;
  }
  .content {
    border-bottom: 1px solid #eee;
  }
}
</style>
