<template>
  <div id="app">
    <app-nav />
    <router-view></router-view>
  </div>
</template>

<script>
import AppNav from '@/components/Nav';
export default {
  name: 'app',
  components: {
    AppNav
  }
}
</script>

<style lang="scss">
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}









/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


$cl-primary: #2c3e50;
$cl-secondary: #42b983;
#app {
  font-family: 'Nunito', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  line-height: 1.4;
  font-size: 14px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

h2 {
  font-size: 1.8rem;
  font-weight: bold;
}

a {
  color: $cl-primary;
  text-decoration: none;
  border-bottom: 1px solid $cl-primary;
  &:hover {
    color: $cl-secondary;
  }
}
blockquote {
  font-style: italic;
  padding: 5px 20px;
  margin: 10px 0;
  border-left: 3px solid $cl-secondary;
  position: relative;
  &::before {
    position: absolute;
    top: -5px;
    font-family: 'Arial';
    left: 5px;
    font-size: 30px;
    content: '\201C';
    color: $cl-secondary;

  }
}

img {
  max-width: 100%;
  height: auto;
}
</style>
