<template>
    <div class="post">
        <h2 class="title">
            <router-link :to="{ name: 'post', params: { id: post.id }}">
                {{ post.title.rendered }}
            </router-link>
        </h2>
        <div class="image-placeholder" v-if="loadingImg">
            <scale-loader></scale-loader>
        </div>
        <router-link class="noborder" :to="{ name: 'post', params: { id: post.id }}">
            <img :src="image" v-if="image" class="image">
        </router-link>
        <div class="content" v-html="post.excerpt.rendered"></div>
        <div class="post-read-more">
            <router-link :to="{ name: 'post', params: { id: post.id }}">
                Read more
            </router-link>
        </div>
    </div>
</template>

<script>
import { getMedia } from '@/services/media';
import ScaleLoader from 'vue-spinner/src/ScaleLoader.vue'

export default {
    name: 'index-post',
    props: {
        post: {
            required: true
        }
    },
    components: {
        ScaleLoader

    },
    data() {
        return {
            image: '',
            loadingImg: false
        }
    },
    mounted() {
        this.getImage();
    },
    methods: {
        getImage() {
            if (this.post.featured_media) {
                this.loadingImg = true;
                getMedia(this.post.featured_media).then((response) => {
                    this.loadingImg = false;
                    this.image = response.source_url;
                })
            }
        }
    }
}
</script>

<style lang="scss">
.post {
    width: 100%;
    max-width: 740px;
    margin: 0 auto 30px;
    padding: 0 0 30px;
    border-bottom: 1px solid #eee;
    .more-link {
        display: none;
    }
    .content {
        text-align: left;
    }
    .image {
        max-width: 100%;
        height: auto;
    }
    .title {
        margin-bottom: 20px;
        a {
            border: 0;
        }
    }
    .noborder {
        border: 0;
    }
    .post-read-more {
        text-align: right;
        a {
            font-size: 10px;
            text-transform: uppercase;
        }
    }
    .image-placeholder {
        background-color: #eee;
        display: flex;
        height: 180px;
        width: 100%;
        align-items: center;
        justify-content: center;
        .v-spinner {
            opacity: .3;
        }
    }
}
</style>
