<template>
    <div class="index">
        <div class="posts">
            <scale-loader :loading="loading"></scale-loader>
            <transition-group name="posts" tag="div">
                <template v-for="post in posts">
                    <Post :post="post" :key="post.id" />
                </template>
            </transition-group>
        </div>
        <div class="about">

        </div>
    </div>
</template>

<script>
import { getPosts } from '@/services/posts';

/**
 * components
 */
import Post from './Post';
import ScaleLoader from 'vue-spinner/src/ScaleLoader.vue'


export default {
    name: 'index-wrapper',
    data() {
        return {
            msg: 'Welcome to Your Vue.js App',
            posts: [],
            loading: true,
        }
    },
    components: {
        Post,
        ScaleLoader
    },
    mounted() {
        this.getPosts();
    },
    methods: {
        getPosts() {
            getPosts().then((response) => {
                console.log(response);
                this.posts = response;
                this.loading = false;
            });
        }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.index {
    display: grid;
    grid-template-columns: 75% 25%;
    max-width: 800px;
    margin: 0 auto;
}

.about {
    background: #eee;
}

.posts {
    padding: 0 20px;
    backface-visibility: hidden;
    z-index: 1;
}

.posts-move {
    transition: all 600ms ease-in-out 50ms;
}

.posts-enter-active {
    transition: all 400ms ease-out;
}


.posts-leave-active {
    transition: all 200ms ease-in;
    position: absolute;
    z-index: 0;
}

.posts-enter,
.posts-leave-to {
    opacity: 0;
}
</style>
